body{
  background: darkred;
  color: cyan;
}
.git-one{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
span{
  font-size: 30px;
  background: #fff;
  border: solid darkblue 20px;
  text-decoration: underline;

}
.aside-bar{
  margin: auto;
  background-color: darkblue;
  width: 20rem;
  height: 40rem;
}
